* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #111;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  background: #a41034;
  color: white;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 14px;
}
.nav a:hover {
  border-bottom: 2px solid white;
}
.burger {
  width: 30px;
  filter: invert(1);
  margin-left: 20px;
}
.search {
  width: 25px;
  filter: invert(1);
  margin-left: 20px;
}

.apply-btn {
  background: #a41034;
  border: 1px solid #a41034;
  color: white;
  border: none;
  padding: 10px 18px;
}
.apply-btn:hover {
  background-color: transparent;
  border: 1px solid #a41034;
}

/* HERO */
.hero {
  background: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

/* SECTIONS */
.courses-section {
  padding: 60px 0;
}

.section-desc {
  max-width: 720px;
  color: #555;
  margin-bottom: 24px;
}

/* HORIZONTAL SCROLL */
.courses-scroll {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding-bottom: 20px;
}

/* CARD */
.course {
  flex: 0 0 300px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  flex-direction: column;
  height: 420px; /* фикс высота */
}

/* IMAGE */
.course .img {
  height: 140px;
  background: #e5e5e5;
}
.img img {
  height: 140px;
  width: 300px;
}
/* INNER SCROLL */
.card-content {
  padding: 16px;
  overflow-y: auto; /* ВОТ ОН */
}

.card-content h3 {
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
}

.card-content ul {
  padding-left: 18px;
  font-size: 14px;
}

.card-content li {
  margin-bottom: 6px;
}

/* FOOTER */
.footer {
  background: #111;
  color: #ccc;
  padding: 60px 0 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer h4 {
  color: white;
  margin-bottom: 14px;
}

.footer a {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #777;
}
/* Overlay меню */
.overlay {
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 300px;
  position: absolute;
  background: rgb(119, 31, 31);
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.overlay p {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10px 0;
  transition: color 0.2s;
}

.overlay p:hover {
  color: #f39c12;
}
h2 {
  color: #a41034;
}
.dropdown {
  display: flex;
  display: none;
  position: absolute;
  top: 70px;
  width: 100%;
  background: white;
  padding: 10px;
  gap: 50px;
  justify-content: center;
  padding-bottom: 50px;
  border-radius: 5px;
  min-width: 200px;
  z-index: 100;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); /* горизонтальное, вертикальное смещение, размытие, прозрачность */
  transition: all 0.3s ease; /* плавное появление */
}

.dropdown h2 {
  color: rgb(119, 31, 31); /* цвет заголовка */
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
}
.dropdown p {
  margin: 5px 0;
  color: black;
  cursor: pointer;
}
.nav-item:hover .dropdown {
  display: block; /* показываем dropdown при hover */
}

.why {
  padding: 70px 0;
  background: #fafafa;
}

.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.stats div {
  background: white;
  padding: 25px;
  text-align: center;
  border: 1px solid #ddd;
}

.stats strong {
  font-size: 32px;
  color: #a41034;
}
.audience h2 {
  text-align: center;
  margin-bottom: 20px;
}
.stats span {
  display: block;
  margin-top: 6px;
  color: #555;
}
.audience {
  padding: 60px 0;
}

.audience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}
.audience-grid h3 {
  margin-bottom: 10px;
}
.audience-grid div {
  padding: 25px;
  border: 1px solid #ddd;
  background: white;
}
.testimonials {
  padding: 70px 0;
  background: #f4f4f4;
}

.test-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

blockquote {
  background: white;
  padding: 25px;
  border-left: 4px solid #a41034;
  font-style: italic;
}

blockquote span {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}
.testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
}
.experience {
  padding: 70px 0;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.experience-grid div {
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
}
.gain {
  background: #fafafa;
  padding: 70px 0;
}

.gain-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}
.gain-grid h2 {
  margin-bottom: 20px;
}

.gain-list li {
  margin-bottom: 14px;
  font-size: 16px;
}
.experience h2 {
  margin-bottom: 20px;
  text-align: center;
}
.hero {
  position: relative;
  background-image: url("uni.avif");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.hero .container {
  position: relative;
  color: #fff;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}
.searchInput {
  position: absolute;
  right: 250px;
  top: 17px;
  border-radius: 5px;
  z-index: 9000;
  padding: 10px;
  border: none;
  display: none;
}

.searchInput.active {
  display: block;
}
@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }
}
